.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajuste conforme necessário */
  }
  
  .backButton {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  @media screen and(max-width: 425px){
    .container {
      height: 50%;
    }
  }