header {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

.logo-image {
    width: 30%;
}

@media screen and(max-width: 425px){
    .container {
      height: 50%;
    }
  }